
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div id="container" class="box">
        <img src="~/images/4ea.jpg.gif" style="height: 100%; width: 100%; background-position: center;background-repeat: repeat; background-size:cover" />
        
            <span>404</span>
            <br />
            <span>There's nothing here!</span>
            <br />
            <span><a class="btn" href="/posts/hot">Back to Hot?</a></span>
       
    </div>
    
</body>
</html>
